---
export interface Props extends HTMLAttributes<"a"> {}

const styles = {
    display: "inline-block",
    "box-sizing": "border-box",
    color: "#fff",
    "background-color": "#0991ed",
    "text-decoration": "none",
    "border-radius": ".375rem",
    padding: ".5rem 1rem"
};
---

<a style={Object.assign({}, styles, Astro.props.style)} {...Astro.props} target="_blank"><slot /></a>
