---
export interface Props extends HTMLAttributes<"p"> {}

const styles = {
    display: "block",
    margin: "1em 0"
};

const { style, ...rest }: Props = Astro.props;
---

<p style={Object.assign({}, styles, style)} {...rest}><slot /></p>
