---
import Template, { type CommonConfig } from "@/templates/Ret2Shell.astro";
import P from "@/components/Paragraph.astro";
import Link from "@/components/Link.astro";
import Button from "@/components/Button.astro";
import common from "@docs/_config/common.mjs";

const buttonStyles = {
    "font-weight": "600",
    width: "100%"
};

export function defineProps(): CommonConfig {
    return Object.assign({}, common, {
        html_title: "Verify your account - Ret2Shell",
        // html_lang: "en",
        // brand: {
        //     image_url: Logo,
        //     alt: "Ret2Shell"
        // },
        head: {
            title: "Verify your account"
        }
        // footer: {
        //     links: [{ text: "Sign in to Ret2Shell", href: "https://ret.sh.cn/account/login" }],
        //     infos: ["Copyright 2022-2025", "Ret2Shell"]
        // }
    });
}
---

<Template {...Astro.props}>
    <span slot="title">Verify your account</span>
    <P>Dear <strong>%USER%</strong>,</P>
    <P>
        Your recent activity requires a verification of your account. We need a further confirmation. Please click the
        button or link below to verify your account.
    </P>
    <P>If it's not you that requested this, please ignore this email.</P>
    <P style={{ "text-align": "center" }}>
        <Button href="%LINK%" style={buttonStyles}>Verify account</Button>
    </P>
    <P>If the button above does not work, please copy and paste the following link into your browser:</P>
    <P>
        <Link href="%LINK%" target="_blank" style={{ cursor: "text", "font-size": "14px" }}>%LINK%</Link>
    </P>
    <P>This email is sent by system, please do not reply.</P>
</Template>
